@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

:root {
    --primary-color: #FFD885;
    --secondary-color: #90A33E;
    --accent1-color: #994E33;
    --accent2-color: #2D4462;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'PT Sans', sans-serif;

    --nav-background-color: #90A33E; 
    --nav-link-color:#2D4462;
    --nav-hover-link-color:#FFFFFF; 
    --nav-hover-background-color: #994E33;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
p {
    padding: 25px;
    color: black;
    font-family: var(--paragraph-font);
}
a {
    text-decoration: none;
    color: black; 
}

main {
    max-width: 840px;
}

.hero div {
    position: relative;
}

h1 {
    position: absolute;
    text-align: center;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%)
}

article{
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
