@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

:root {
    --primary-color: #FFD885;
    --secondary-color: #90A33E;
    --accent1-color: #994E33;
    --accent2-color: #2D4462;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'PT Sans', sans-serif;

    --nav-background-color: #90A33E; 
    --nav-link-color:#2D4462;
    --nav-hover-link-color:#FFFFFF; 
    --nav-hover-background-color: #994E33;
}

* {
    max-width: 840px;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
	align-items: center;
    column-gap: 5px;
    margin: 10px;
    background-color: var(--secondary-color);
}

.header img {
	width: 200px;
	height: auto;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: black;  
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 25px;
    color: black;
    font-family: var(--paragraph-font);
}

h1 {
    position: absolute;
    text-align: center;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

article {
    position: absolute;
    top: 200px;
    background-color:rgb(135, 217, 231);
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero {
    position: relative;
    margin: 10px;
}

.hero article img {
    width: 200px;
    float: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    display: grid;
    background-color: var(--primary-color);
    grid-template-rows: 10% 1fr;
    text-align: center;
    margin: 10px;
}

.adventure {
    display: grid;
    background-color: var(--primary-color);
    grid-template: 10% 90% / 100%;
    text-align: center;
    gap: 15px;
    margin: 10px;
}

.figs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

figure img {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
}

.sociallinks img {
    width: 50px;
}