* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: #BBC2E2;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color:black;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
}
h1 {
    color: #0C1618;
    border-bottom: solid;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid #0C1618;
    padding: 1px;
    box-shadow: 0 0 30px #BBC2E2;
    float: right;
}
p {
    padding: 0;
}

ul {
    width: 20rem;
}
.box a {
    text-decoration: none;
}

.box img {
    width:100%;
}

aside h2 {
   position: absolute;
   top: 30px;
   left: 140px; 
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid #BBC2E2;
    padding: 1rem;
    background-color:#F3F9D2;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}


aside {
    width: 20rem;
    height: auto;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}